@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;

    --gray-10: #fcfcfc;
    --gray-20: #f9f9f9;
    --gray-30: #f2f2f2;
    --gray-40: #ebebeb;
    --gray-50: #e1e1e1;
    --gray-60: #cdcdcd;
    --gray-70: #c6c6c6;
    --gray-80: #bebebe;
    --gray-90: #b3b3b3;
    --gray-100: #aaaaaa;
    --gray-110: #a0a0a0;
    --gray-120: #919191;
    --gray-130: #838383;
    --gray-140: #787878;
    --gray-150: #656565;
    --gray-160: #515151;
    --gray-170: #3d3d3d;
    --gray-180: #313131;
    --gray-190: #282828;
    --gray-200: #1e1e1e;
    --gray-210: #181818;
    --gray-220: #121212;
    --gray-230: #0c0c0c;

    --red-10: #fff3f3;
    --red-20: #ffe6e4;
    --red-30: #fedbd9;
    --red-40: #feb7b3;
    --red-50: #fd645c;
    --red-60: #ff5e55;
    --red-70: #fc4c42;
    --red-80: #df382f;
    --red-90: #72201a;
    --red-100: #5b1814;
    --red-110: #44110d;
    --red-120: #2d0907;
    --red-130: #160200;

    --blue-10: #eef6ff;
    --blue-20: #def0ff;
    --blue-30: #b6deff;
    --blue-40: #92ceff;
    --blue-50: #64b9ff;
    --blue-60: #40a9ff;
    --blue-70: #1890ff;
    --blue-80: #096dd9;
    --blue-90: #0754a8;
    --blue-100: #074181;
    --blue-110: #053161;
    --blue-120: #042c57;
    --blue-130: #020e1a;

    --green-10: #e8fdf2;
    --green-20: #bdedd4;
    --green-30: #91ddb6;
    --green-40: #66ce97;
    --green-50: #50c688;
    --green-60: #3abe79;
    --green-70: #25b66a;
    --green-80: #0fae5b;
    --green-90: #0c8b49;
    --green-100: #096837;
    --green-110: #064624;
    --green-120: #05341b;
    --green-130: #032312;

    --purple-10: #f4e8fc;
    --purple-20: #e8d2fa;
    --purple-30: #ddbbf7;
    --purple-40: #d1a4f5;
    --purple-50: #bb77ef;
    --purple-60: #a449ea;
    --purple-70: #8d1ce5;
    --purple-80: #7116b7;
    --purple-90: #551189;
    --purple-100: #380b5c;
    --purple-110: #2a0845;
    --purple-120: #1c062e;
    --purple-130: #0e0317;

    --yellow-10: #fff7ed;
    --yellow-20: #ffeeda;
    --yellow-30: #ffe6c8;
    --yellow-40: #ffddb6;
    --yellow-50: #ffcd91;
    --yellow-60: #ffbc6d;
    --yellow-70: #ff9c27;
    --yellow-80: #ea7e00;
    --yellow-90: #a9600a;
    --yellow-100: #794f1d;
    --yellow-110: #623f16;
    --yellow-120: #4c300e;
    --yellow-130: #352007;
  }
}

@layer base {
  html,
  body,
  #__next {
    @apply h-dvh font-pretendard text-base;
  }

  * {
    @apply box-border outline-none;
  }

  .max-width {
    @apply mx-auto w-320 px-[30px];
  }

  b {
    font-weight: 500;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply font-bold md:text-3xl lg:text-4xl;
}
